.main-consultation {
	background-color: #fff;
	border-radius: 23px;
	padding: 42px 35px;
}
.main-consultation__inner {
}
.main-consultation__title {
	margin-bottom: 20px;
	line-height: 38.5px;
}
.main-consultation__subtitle {
	font-size: 16px;
	line-height: 19.2px;
	margin-bottom: 25px;
	color: #8f8f8f;
	span {
		color: var(--accent-color);
	}
}
.main-consultation__items {
}

.main-consultation__item {
	max-width: 420px;
	width: 100%;
	background: #f2f2f2;
	border-radius: 13px;
	padding: 24px;
	transition: all 2s ease-in;
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.main-consultation__count {
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
	display: inline-block;
	transition: all 0.2s ease-in;
}
.main-consultation__item-content {
	margin-top: auto;
}
.main-consultation__item-content,
.main-consultation__count {
	position: relative;
	z-index: 1;
}

.main-consultation__item-title {
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 14px;
	transition: all 0.2s ease-in;
}
.main-consultation__item-text {
	font-size: 16px;
	line-height: 16px;
	color: #8f8f8f;
	text-align: justify;
	transition: all 0.2s ease-in;
}
.main-consultation__item-text_1 {
	max-width: 310px;
	text-align-last: left;
	text-wrap: balance;
}

.main-consultation__item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(
		367.05% 206.88% at 178.03% 157.39%,
		rgb(255, 255, 255) 0%,
		rgb(38, 161, 164) 100%
	);
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	z-index: 0;
	border-radius: 13px;
}

.main-consultation__item:hover {
	.main-consultation__count {
		color: #fff;
	}
	.main-consultation__item-title {
		color: #fff;
	}
	.main-consultation__item-text {
		color: #f2f2f2;
	}
	&::before {
		opacity: 1;
	}
}
.last {
	max-width: 420px;
	border-radius: 13px;
	padding: 24px;
	background-color: #224646;
	background-image: url('./../assets/img/consultation/bg.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom right;
	display: inline-block;
}

.grid-item-1 {
	max-height: 209px;
}
.grid-item-2 {
	max-height: 327px;
}
.grid-item-3 {
	max-height: 275px;
}
.grid-item-4 {
	max-height: 393px;
}
.grid-item-5 {
	max-height: 271px;
}

.grid-item-6 {
	max-height: 327px;
}

.last-item {
	color: #fff;
	margin-bottom: 29px;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	max-width: 349px;
	text-wrap: balance;
}
.main-consultation__item-link {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	background-color: #fff;
	border-radius: 10px;
	padding: 17px 26px;
	margin-bottom: 14px;
	position: relative;
	transition: all 0.3s ease-in;

	span {
		position: absolute;
		width: 20px;
		height: 20px;
		background-color: var(--accent-color);
		color: #fff;
		border-radius: 50%;
		text-align: center;
		align-content: center;
		top: -10px;
		right: -10px;
		transition: all 0.3s ease-in;
	}
}
.main-consultation__item-link.remove {
	transition: all 0.3s ease-in;
	background-color: #ff5a49;
	color: #fff;
}

.mobile {
	display: none;
}

@media (max-width: 1367px) {
	.main-consultation__item {
		max-width: 355px;
		padding: 20px;
	}
	.last {
		max-width: 355px;
	}
	.main-consultation__count {
	}
	.main-consultation__item-title {
		font-size: 16px;
		margin-bottom: 12px;
	}
	.main-consultation__item-text {
		font-size: 12px;
	}
	.main-consultation__item-text_1 {
		max-width: 272px;
	}

	.grid-item-1 {
		max-height: 176px;
	}
	.grid-item-2 {
		max-height: 276px;
	}
	.grid-item-3 {
		max-height: 232px;
	}
	.grid-item-4 {
		max-height: 332px;
	}
	.grid-item-5 {
		max-height: 229px;
	}

	.grid-item-6 {
		max-height: 276px;
	}
	.last {
		padding: 25px 20px 22px 20px;
	}
	.last-item {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 1;
	}
	.main-consultation__item-link {
		padding: 13px 20px;
		font-size: 14px;
		line-height: 1;
		margin-bottom: 12px;
	}
}

@media (max-width: 1200px) {
	.main-consultation {
		padding: 30px 25px;
	}
	.main-consultation__items {
		grid-template-columns: repeat(2, 1fr);
	}
	.main-consultation__item {
		max-width: 350px;
	}
	.mobile {
		display: block;
	}
	.desctop {
		display: none;
	}
	.main-consultation__item:nth-child(3) {
	}
	.main-consultation__item:nth-child(5) {
	}
	.last {
		max-width: 710px;
		width: 100%;
		grid-column: span 2;
	}
}
@media (max-width: 768px) {
	.main-consultation__items {
		grid-template-columns: 1fr;
		gap: 10px;
	}
	.main-consultation__item {
		max-width: 300px;
		padding: 20px;
	}
	.last {
		grid-column: span 1;
	}
	.main-consultation__item-title {
		margin-bottom: 9px;
	}

	.main-consultation__title {
		font-size: 18px;
		text-wrap: balance;
		margin-bottom: 12px;
	}
	.main-consultation__subtitle {
		font-size: 12px;
		margin-bottom: 20px;
	}
	.main-consultation__count {
		font-size: 16px;
	}
}
