.main {
	background-color: var(--bg-color);
	padding-top: 56px;
	padding-bottom: 63px;
	
}
.main__inner {
	display: flex;
	column-gap: 30px;
}
.main__sidebar {
	max-width: 263px;
}
.main__sections {
	max-width: 1067px;
	width: 100%;
}
.main__content {
	max-width: 775px;
	width: 100%;
}
.main__wrap {
	display: flex;
	align-items: stretch;
	gap: 30px;
	position: relative;
}
// .sections {}

@media (max-width: 1367px) {
	.main__sections {
		max-width: 867px;
	}
	.main__content {
		max-width: 575px;
	}
}

@media (max-width: 1367px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1120px) {
	.main__sidebar {
		max-width: 249px;
	}
	.main__content {
		max-width: 422px;
	}
}
@media (max-width: 1024px) {
	.main__inner {
		gap: 20px;
	}
}
@media (max-width: 820px) {
	.main__wrap {
		flex-direction: column;
	}
}

@media (max-width: 768px) {
	.main {
		padding-top: 30px;
		padding-bottom: 33px;
	}
}
@media (max-width: 640px) {
}
