.main-verification {
	background-color: #fff;
	border-radius: 15px;
	padding: 45px 20px;
	// max-width: 1160px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
}
.main-verification__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	svg {
		align-self: center;
	}
}
.main-verification__title {
	font-size: 30px;
	font-weight: 600;
	line-height: 28px;
	text-align: center;
	color: var(--title-color);
	margin-bottom: 17px;
}
.no-completed {
	fill: #ff6363;
}
.completed-text {
	margin: 17px 0 20px;
	font-size: 15px;
	line-height: 18px;
	max-width: 267px;
}
.completed-link {
	width: 100%;
	padding: 19px 0;
	color: var(--accent-color);
	border-radius: 13px;
	display: inline-block;
	transition: all 0.2s ease-in;

	span {
		display: inline-block;
		margin-right: 5px;
	}
}
.completed-link.accent {
	background-color: var(--accent-color);
	color: #fff;
	margin-bottom: 10px;
	&:hover {
		background-color: #1acbcf;
	}
}
.completed-link.border {
	border: 1px solid var(--accent-color);
	&:hover {
		background-color: #2cacaf;
		color: #fff;
	}
}
@media (max-width: 576px) {
	.main-verification__title {
		font-size: 20px;
	}
}
